/* =========== Google Fonts ============ */
@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap");

/* =============== Globals ============== */
* {
    font-family: "Ubuntu", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --blue: #2a2185;
    --white: #fff;
    --gray: #f5f5f5;
    --black1: #222;
    --black2: #999;
    --active-icon-color: var(--blue);
}

body {
    min-height: 100vh;
    overflow-x: hidden;
}

.container {
    position: relative;
    width: 100%;
}

/* =============== Navigation ================ */
.navigation {
    position: fixed;
    width: 80px;
    height: 100%;
    background: var(--black1);
    border-left: 10px solid var(--black1);
    transition: 0.5s;
    overflow-x: hidden;
    overflow-y: auto;
}

.navigation.active {
    width: 300px;
}

.personal {
    position: fixed;
    bottom: 0;
    width: 70px;
    border-top: solid 2px var(--black2);
    transition: 0.5s;
    margin-right: 10px;
}

.personal.active {
    width: 290px;
}

.navigation ul {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}

.navigation ul li {
    position: relative;
    width: 100%;
    list-style: none;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
}

.navigation ul li:hover,
.navigation ul li.hovered {
    background-color: var(--black2);
}

.navigation ul li.active-icon {
    background-color: var(--white);
}

.navigation ul li:nth-child(1) {
    margin-bottom: 40px;
    pointer-events: none;
}

.navigation ul li a {
    position: relative;
    display: block;
    width: 100%;
    display: flex;
    text-decoration: none;
    color: var(--white);
}

.navigation ul li:hover a,
.navigation ul li.hovered a,
.navigation ul li.active-icon a {
    color: var(--blue);
}

.navigation ul li a .icon {
    position: relative;
    display: block;
    min-width: 60px;
    height: 60px;
    line-height: 75px;
    text-align: center;
}

.navigation ul li a .icon ion-icon {
    font-size: 1.75rem;
}

.section {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    margin-bottom: 10px;
    position: relative;
    overflow-y: auto;
}

.navigation ul li a .title {
    position: relative;
    display: block;
    padding: 0 10px;
    height: 60px;
    line-height: 60px;
    text-align: start;
    white-space: nowrap;
}

.navigation ul li.no-hover:hover,
.navigation ul li.no-hover.hovered {
  background-color: transparent;
}

.navigation ul li.no-hover:hover a,
.navigation ul li.no-hover.hovered a,
.navigation ul li.no-hover.active-icon a {
  color: var(--white);
}

.navigation ul li.no-hover:hover a::before,
.navigation ul li.no-hover.hovered a::before,
.navigation ul li.no-hover.active-icon a::before,
.navigation ul li.no-hover:hover a::after,
.navigation ul li.no-hover.hovered a::after,
.navigation ul li.no-hover.active-icon a::after {
  box-shadow: none;
}

/* --------- curve outside ---------- */
.navigation ul li:hover a::before,
.navigation ul li.hovered a::before {
    content: "";
    position: absolute;
    right: 0;
    top: -50px;
    width: 50px;
    height: 50px;
    background-color: transparent;
    border-radius: 50%;
    box-shadow: 35px 35px 0 10px var(--black2);
    pointer-events: none;
}

.navigation ul li.active-icon a::before {
    content: "";
    position: absolute;
    right: 0;
    top: -50px;
    width: 50px;
    height: 50px;
    background-color: transparent;
    border-radius: 50%;
    box-shadow: 35px 35px 0 10px var(--white);
    pointer-events: none;
}

.navigation ul li:hover a::after,
.navigation ul li.hovered a::after {
    content: "";
    position: absolute;
    right: 0;
    bottom: -50px;
    width: 50px;
    height: 50px;
    background-color: transparent;
    border-radius: 50%;
    box-shadow: 35px -35px 0 10px var(--black2);
    pointer-events: none;
}

.navigation ul li.active-icon a::after {
    content: "";
    position: absolute;
    right: 0;
    bottom: -50px;
    width: 50px;
    height: 50px;
    background-color: transparent;
    border-radius: 50%;
    box-shadow: 35px -35px 0 10px var(--white);
    pointer-events: none;
}

/* --------------- Main --------------- */
.main {
    position: absolute;
    width: calc(100% - 80px);
    left: 80px;
    min-height: 100vh;
    background: var(--white);
    transition: 0.5s;
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

.main.active {
    width: calc(100% - 300px);
    left: 300px;
}

.toggle {
    position: relative;
    width: 60px;
    display: flex;
    justify-content: center;
    align-items: trung tâm;
    margin-top: 20px;
    margin-bottom: 20px;
    cursor: pointer;
}

.toggle .line {
    width: 30px;
    height: 2px;
    background: var(--white);
    position: absolute;
    transition: 0.5s;
}

.toggle .line:nth-child(1) {
    top: 0;
}

.toggle .line:nth-child(2) {
    top: 6px;
}

.toggle .line:nth-child(3) {
    top: 12px;
}

.toggle.active .line:nth-child(1) {
    top: 6px;
    transform: rotate(45deg);
}

.toggle.active .line:nth-child(2) {
    opacity: 0;
}

.toggle.active .line:nth-child(3) {
    top: 6px;
    transform: rotate(-45deg);
}

.main-content {
    padding: 20px;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.signup {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.Account-container {
    width: 100%;
    max-width: 450px;
    padding: 20px;
    background: transparent;
    opacity: 0.8;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    margin-top: -7rem;
}

.Account-container h1 {
    margin-bottom: 20px;
    font-size: 2rem;
    text-align: center;
    color: black;
}

.Account-container h2 {
    margin-bottom: 20px;
}

.Account-container button {
    display: block;
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: none;
    border-radius: 5px;
    background-color: rgb(110, 167, 110);
    color: white;
    font-size: 16px;
    cursor: pointer;
}

.Account-container button:hover {
    background-color: green;
}

.description {
    font-size: 14px;
    color: #555;
    margin-top: -10px;
    margin-bottom: 10px;
}